@import "tailwindcss";

*{
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

@font-face {
    font-family:font1;
    src: url("../public/fonts/Lausanne-300.woff2");
}

@font-face {
    font-family: font2;
    src: url("../public/fonts/Lausanne-500.woff2");
}



.moveX
{
    animation-name: moveAnimation;
    animation-timing-function: linear;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes moveAnimation {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
.carosel-scroll,
.carosel-scroll1
{
    scroll-behavior: smooth
}

.moveRight{
    animation-name: moveRightAnimation;
    animation-timing-function: linear;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}
.moveLeft{
    animation-name: moveLeftAnimation;
    animation-timing-function: linear;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

@keyframes moveRightAnimation {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

@keyframes moveLeftAnimation {
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0);
    }
}